/* Default
***********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
	}
body {
	line-height:1;
	}
ol, ul {
	list-style:none;
	}
blockquote, q {
	quotes:none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
	}
table {
	border-collapse:collapse;
	border-spacing:0;
	}
/* Overwrite defaults
***********************************************/
h3, h4, h5, h6 {
 	margin:10 ;
 	padding: 10;
/*  	color:#7b7b7b; */
	line-height:normal; 
	font-size: 1.6em;
 	font-weight: bolder; 
	text-indent: 20px;
}

p,a {
	font-size:12px;
	text-align: justify;
	}
/* a:visited { */
/*   color: grey; */
/* } */
body {
	color: #424242;
  	/*min-height: 100%;
    text-align: center;*/
   /* background-color:#91929394;*/
    background-image: url("../img/kk_background.gif");
    text-align: center;
    font: 10px/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
footer {
    position:relative;
	   clear: both;
	/*left: 50%;/*/
    bottom:0;
    margin:auto
   /* font-weight:lighter;*/
    text-align: center;
   	font-size:10px;
   	color: #bbbbbb;
	}

header{
	position:fixed;
	overflow:hidden;
    text-align: center;
    top : 0;
    left: 50%;
/*     color:maroon;  */
/*     background-color:white; */
/*     display: block; */
	float: none;
	line-height: 18px;
	position: static;
	z-index: auto;
	}
.page{
	margin: 0 auto;
	width: 210mm;
	min-height: 230mm;
	border: 1px solid maroon;
  background-color:white;
	text-align: center;		
	padding: 10px 10px 10px 10px;
	margin-bottom: 15;	

	margin-top: 10px;
  margin-bottom: 10px;
	border: 1px dotted #663500;
	border-radius: 2x;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
	}	

/* Navigation menu
***********************************************/
.ul_menu li {
    display: inline;
    list-style: none;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;

/* 	background-color:white; */
	}
.ul_menu a:link, a:visited {
	color: maroon;
	font-weight: bold;
	font-size:15px;
	text-decoration: none;
	}

/* Content
***********************************************/
.content{
	background-color:white;
   	font-size:16px;
	padding-top: 10px;
}

.ul_editions li{
  color: maroon;
  font-weight: none;
  display: block;
  list-style: disc;
  list-style-type: none;
  text-align:left;
  padding-left: 80px;
/*   font-size: 16px; */
	
}
.story{
	background: #f3f3f3;
	font-family: 'Open Sans', 'Helvetica', monospace;
	border: 1px dotted #bbbbbb;
	padding: 7px 8px 5px 8px;
	margin-top: 20px;
	margin-bottom: 20px;
/* 	border-style: : inherit; */
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
/*   line-height: 1.3em; */
	

/*   	font-size:11px;
	padding-left: 40px;
	color: #91929394;
	font-weight:60;
    text-align:left;*/
	}
.story_hdr{
/* 	background-color:white; */
   	font-size:13px;
	/*padding-top: 40px;*/
/* 	background-color:#91929394; */
/* 	font-weight: bold; */
    text-align:left;
	color: #91929394;
	}
.story_body{
/* 	background-color:white; */
/* 	font-family: 'Times New Roman', 'Open Sans', 'Helvetica', monospace; */
 	/*font-size:12px;*/
	padding-left: 100px;
	padding-right: 10px;
	/*font-weight:60;*/
  /*text-align:left;*/
  	text-align:justify;
	}
